.cabecalho{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.logoTempfy{
    width: 40px;
    height: 100%;
    padding-left: 9px;
}

.logoTempfy img{
    width: 100%;
    height: auto;
    transition: 0.3s;
}

.btnInfoUser{
    width: 36px;       
    height: auto;              
    display: flex;     
    align-items: center;
    justify-content: center;
    border: none;    
    padding-right: 12px;          
}

.btnInfoUser svg{
    width: 100% !important;     
    height: auto !important;   
    display: block;             
    transition: 0.3s;
    fill: #144B91;              
}

.btnInfoUser svg:active, .logoTempfy img:active{
    transform: scale(1.2, 1.2);
}