.telaPlanoUm {
    width: 400px;
    max-width: none;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: 'Poppins';
    padding: 10px 5px 30px 5px;
    text-align: center;
    color: #000;
    border: solid 1px;
}

.tituloTelaProdutoUm {
    font-size: 33px;
    border-bottom: 3px solid #144B91;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 90%;
    text-align: center;
}

.areaProduto {
    text-align: left;
    width: 320px;
    margin: auto;
    background-color: #144B91;
    border-radius: 20px;
    margin-bottom: 5%;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.459);
}

.imgProduto {
    width: 350px;
    width: 320px;
    background-color: #144B91;
    border-radius: 10px;
    margin: auto;
    padding: 10px 0;
}

.imgProduto img {
    width: 100%;
    height: auto;
}

.descProduto {
    border-radius: 20px;
    background-color: #FFEFEF;
    color: #000;
    border: solid 2px #e0dfdf;
    padding: 5px 15px;
}

.descProduto p {
    margin: 0;
    width: 100%;
}

.formaQuantidade {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10%;
}

.formaQuantidade select {
    background-color: #D9D9D9;
    width: 200px;
    font-family: 'Poppins';
    padding: 6px 5px;
    font-size: 14px;
    transition: 0.3s;
    border: none;
}

.formaQuantidade option {
    background-color: #ebebeb;
    width: 200px;
    font-family: 'Poppins';
    font-size: 14px;
    padding: 0 5px;
    transition: 0.3s;
    border: none;
}

.btnQuantidade {
    display: flex;
    width: 17%;
    background-color: #fff;
    border: solid 2px #000;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}

.btnQuantidade span {
    padding: 2px 8px 0px 8px;
    height: 100%;
    font-size: 22px;
    border-left: solid 2px #000;
    border-right: solid 2px #000;
    z-index: 0;
}

.btnQuantidade button {
    border: solid 0px #000;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    font-size: 20px;
    background: none;
}

.btnQuantidade button:first-child {
    font-size: 27px;
    margin: auto;
    justify-content: center;
    margin-bottom: 3px;
    margin-right: 3px;
}

.btnComprar {
    color: #fff;
    background-color: #315483;
    width: 280px;
    height: 50px;
    font-family: 'Poppins';
    font-size: 29px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.459);
    transition: 0.3s;
    margin-bottom: 5%;
}

.btnComprar:active {
    transform: scale(1.05, 1.05);
}

.btnVoltarPlanoUm {
    background-color: #D9D9D9;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 16px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.336);
    transition: 0.3s;
}

.btnVoltarPlanoUm:active{
    transform: scale(1.05, 1.05);
}