.telaProdutos{
    width: 400px;
    max-width: none;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #7C9EBF; 
    font-family: 'Poppins';
    padding: 10px 5px;
    text-align: center;
    color: #fff;
}